<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
        <title>Library | {{ author.getAuthorName }}</title>
    </head>
    <body>
        <div class="container">
            <h2>{{ author.getAuthorName }}</h2>

            {% if books is not empty %}
                <h4>{{ author.getAuthorName }}'s books are:</h4>
                {% for book in books %}
                    <h5>{{ book.getTitle }}</h5>
                {% endfor %}
            {% else %}
                <h5>This author has no books at this library.</h5>
            {% endif %}

            <form action="/author/{{ author.getId }}" method="post">
                 <input type="hidden" name="title" value="{{ author.getId }}">
                 <label>Assign this author to a book:</label>
                 <select name="id">
                    {% for book in all_books %}
                        <option value="{{ book.getId }}">{{ book.getTitle }}</option>
                    {% endfor %}
                 </select>
                 <button type="submit" class="btn btn-sm btn-success">Add book</button>
            </form>


            <form action="/author/{{ author.getId }}/edit" method="get">
                <button class="btn btn-sm btn-warning" type="submit" name="edit">Edit this Author</button>
            </form>

            <form action="/author/{{ author.getId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="btn btn-sm btn-danger" type="submit" name="delete">Delete this Author</button>
            </form>

            <a href="/">Home</a>

        </div>

    </body>
</html>
